

:root {
    --dark:  #333533;
    --light: #E8EDDF;
    --accent: #C492B1;
    --puke: #9B8816;
    --gray: #8E9189;
    
}

html {
    background-color: var(--accent);
}

/* Header Container */
#header {
    background-color: var(--dark);
    color: var(--light);
}

.schemedark{
    background-color: var(--dark);
    color: var(--light);
}




/* directions container */


/* Seach bar  */
#search-bar {

}

#search-button {

}

/* random generate button */
#random-button {

}

/* Search results container */
#search-results {
    background-color: var(--dark);
    color: var(--light);
   
}

/* saved results container */
#saved-tracks {
    background-color: var(--dark);
    color: var(--light);

}





