
:root {
    --dark:  #333533;
    --light: #E8EDDF;
    --accent: #C492B1;
    --puke: #875a8d;
    --gray: #8E9189;
}

html {
    background-color: var(--accent);
}

/* Header Container */
#header {
    background-color: var(--dark);
    color: var(--light); 
    font-family: 'Geo', sans-serif;
    border-bottom-style: groove;
    border-width: 20px;
    border-color:var(--puke);
    
    

}

.schemedark{
    background-color: var(--dark);
    color: var(--light);
}




/* directions container */


/* Seach bar  */
#search-bar {
    display:flex;
    min-width:100%;
    width:100%;
}
.notification{
    border-color: #875a8d;
    border-width: 6px;
    border-style: solid;
    border-radius: 12px;
}
.input{
   margin:0 0 ;
    width:100%; 
    border-style:solid ;
    border-width:3px;
}
#search-button {

}

/* random generate button */
#random-button {

}

/* Search results container */
#search-results {
    background-color: var(--dark);
    color: var(--light);
    border-color: #875a8d;
    border-width: 6px;
    border-style: solid;
    border-radius: 12px;
   
}

/* saved results container */
#saved-tracks {
    background-color: var(--dark);
    color: var(--light);
    border-color: #875a8d;
    border-width: 6px;
    border-style: solid;
    border-radius: 12px;

}





